@import "tailwindcss";
:root {
  --primary-color: #a84e6b;
  --secondary-color: #4ea89f;
  --border-color: #8a3e57;
  --border-hover-color: #b35a75;
  --shadow-color: rgba(168, 78, 107, 0.3); /* Soft shadow of primary */
}
